* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.cabeçalho {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.rodape {
    background-color: black;
    margin: 2%;
}

#gamespage {
    background-image: radial-gradient(circle at 50% -20.71%, #c665ff 0, #a351ff 25%, #783cf2 50%, #4029e3 75%, #001cd6 100%);

}

#novidadespage {
    background-image: radial-gradient(circle at 50% -20.71%, #ff6565 0, #ff5151 25%, #f23c3c 50%, #e32929 75%, #d60000 100%);

}

#enter {
    background-image: radial-gradient(circle at 50% -20.71%, #65ff6f 0, #51ff51 25%, #51f23c 50%, #3fe329 75%, #00d607 100%);
}

#tech {
    background-image: radial-gradient(circle at 50% -20.71%, #5570f8 0, #5162ff 25%, #3c54f2 50%, #2c29e3 75%, #001cd6 100%);
}

h1 {
    font-family: 'Montserrat';
}


h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.articles article h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.creation-date {
    font-size: 0.8em;
    color: white;
}

body > header {
    padding: 30px 10%;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
display: inline;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
margin-left: 16px;
font-family: 'Montserrat';
}

header li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: cornsilk;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.articles article img {
    height: 220px;
    width: 26em;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.techa {
    background-image: radial-gradient(circle at 50% -20.71%, #1dbff5 0, #1dbbf9 25%, #16c5f5 50%, #15a7d8 75%, #00a8d6 100%);
}

.entera {
    background-image: radial-gradient(circle at 50% -20.71%, #14450b 0, #094e0f 25%, #08580f 50%, #064b05 75%, #0c5100 100%);
}

.novia {
    background-image: radial-gradient(circle at 50% -20.71%, #450b0b 0, #4e0909 25%, #580808 50%, #4b0505 75%, #510000 100%);
}

.gamea {
    background-image: radial-gradient(circle at 50% -20.71%, #450b42 0, #46094e 25%, #580849 50%, #4b053e 75%, #3e0051 100%);
}

.articles article a {
color: black;
padding: 8px;
display: inline-block;
text-decoration: none;
font-weight: bolder;
margin-top: 0px;
margin-left: 0px;
}

.articles article a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    transition: transform 0.45s;
}

.articles article p, .articles article a {
    font-family: sans-serif;
    color: #ffffff;
}

.articles article h3 {
    font-size: 22px;
    color: #ffffff;

}

section h2 {
    font-size: 34px;
    color: #ffffff;
    font-family: 'Montserrat';
}

#rodape {
    font-size: 1.1em;
    margin-left: 32em;
    margin-top: 3em;
    color: white;
}

#link {
    position: fixed;
    right: 20px;
    bottom: 15px;
    transform: rotate(180deg);
}

html {
    scroll-behavior: smooth;
}